{
  "presets": [
    "es2015",
    "es2017"
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  },
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread"
  ]
}
